

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.titleContainer {
    background: skyblue;
    height: 32%;
    min-height: 100px;
    position: relative;
    background-image: url(./images/logoBackground.jpg);
    background-size: cover;
    background-repeat: repeat-x;
    margin-bottom: 15px;
}

.title{
    position: absolute;
    top: calc(50% - 30px);
    left: 15%;   
    font-size: 45px;
    font-family: Oswald;
    color: black;
}

.logo{
    width: 40%;
    background: tan;
}

.navBar {
    margin-left: auto;
    margin-right: auto;
    border-top: 2px solid;
    border-bottom: 2px solid;
    width: 60%;
    max-width: 900px;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
}

.navBarLink {
    font-family: Oswald;
    font-size: 18px;
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
}

a{
    transition: 0.3s
}

a:hover {
    transition: 0.3s;
    font-weight: bold;
}